<div class="modal-wrapper">
  <div class="modal-box">
    <form [formGroup]="adminLoginForm" (ngSubmit)="onLogin()">
    <div class="modal-header">
      <img src="../../assets/images/Logo-Black.png" alt="logo">
    </div>
    <div class="modal-body">
        <div class="mb-3">
          <p class="font-22 font-weight-600">Log in</p>
        </div>
        <input class="form-input" type="text" formControlName="username" name="username" id="username"
          placeholder="User Name" autocomplete="off">
        <input class="form-input" type="password" formControlName="password" name="password" id="password"
          placeholder="Password" autocomplete="off">

        </div>
        <div class="modal-footer">
          <button type="submit" class="button button-solid">Log in</button>
        </div>
      </form>
      </div>
</div>
