
  <div class="card-wrapper">
    <div class="card">
      <div class="card-header">
        <span class="font-20">Scorboard</span>
        <div class="header-buttons">
          <button type="button" class="button button-bordered-blue" *ngIf="isAdminLogin">Download</button>
          <button type="button" class="button button-solid" *ngIf="isAdminLogin">Candidate Details</button>
        </div>
      </div>
      <div class="table">
        <table class="table">
          <thead class="table-header">
            <tr>
              <td scope="col" class="t-col text-center">Rank</td>
              <td scope="col" class="t-col">StudentName</td>
              <td scope="col" class="t-col">Obtain Marks</td>
              <td scope="col" class="t-col">Total Marks</td>
              <td scope="col" class="t-col">% score</td>
            </tr>
          </thead>
          <tbody class="table-data">
            <tr *ngFor="let students of studentList; index as i" [routerLink]="''+(i+1)">
              <td class="t-col text-center">{{ students.rank }}</td>
              <td class="t-col"> {{ students.name }} </td>
              <td class="t-col">{{ students.totalAchievedPoints }}</td>
              <td class="t-col">{{ students.totalPoints }}</td>
              <td class="t-col">{{ students.percentage > 0 ? (students.percentage | number: '1.1-1') : 0 }}%</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>

