<div class="modal-wrapper">
    <div class="modal-box">
      <form [formGroup]="signupForm" (ngSubmit)="onSignup()">
        <div class="modal-header">
          <img src="../../assets/images/Logo-Black.png" alt="logo">
        </div>
        <div class="modal-body">
          <div class="mb-3">
            <p class="font-22 font-weight-600">Sign Up</p>
          </div>
          <input class="form-input" type="number" formControlName="id" name="id" id="id" placeholder="ID" autocomplete="off">
          <input class="form-input" type="text" formControlName="name" name="name" id="name" placeholder="Name" autocomplete="off">
          <input class="form-input" type="password" formControlName="password" name="password" id="password" placeholder="Password" autocomplete="off">
          <input class="form-input" type="number" formControlName="streamId" name="streamId" id="streamId" placeholder="Stream ID" autocomplete="off">
        </div>
        <div class="modal-footer">
          <button type="submit" class="button button-solid">Sign Up</button>
        </div>
      </form>
    </div>
  </div>
  