<div class="card-wrapper">
  <div class="card">
    <div class="card-header">
      <p class="font-20">Student Details</p>
    </div>
    <div class="card-body font-16">
      <div class="student-subject-details" *ngIf="studentDetails">
        <table>
          <thead>
            <tr>
              <th>Detail</th>
              <th>Value</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Student Name:</td>
              <td>{{ studentDetails.name }}</td>
            </tr>
            <tr>
              <td>Percentage Score:</td>
              <td>{{ studentDetails.percentage > 0 ? (studentDetails.percentage | number: '1.1-1') : '0.0' }}%</td>
            </tr>
            <tr>
              <td>Stream:</td>
              <td>{{ studentDetails.stream.name }}</td>
            </tr>
            <tr>
              <td>Obtain Marks:</td>
              <td>{{ studentDetails.totalAchievedPoints }} out of {{ studentDetails.totalPoints }}</td>
            </tr>
          </tbody>
        </table>
      </div>

      <div class="student-subject-details" *ngIf="studentInfo">
        <table>
          <thead>
            <tr>
              <th>Course Name</th>
              <th>Assignments</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let course of studentInfo?.studentinfo?.courses">
              <td>{{ course.name }}</td>
              <td>
                <ul>
                  <li *ngFor="let assignment of course.assignments">
                    <div class="assignment-details">
                      <span class="assignment-name">{{ assignment.name }}</span>
                      <span class="assignment-info">
                        Achieved: {{ assignment.achievedPoint !== 'NaN' ? (assignment.achievedPoint | number: '1.1-1') : '0.0' }}
                        / {{ assignment.point }} ({{ assignment.percentage !== 'NaN' ? (assignment.percentage | number: '1.1-1') + '%' : '0.0%' }})
                      </span>
                    </div>
                  </li>
                </ul>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
